@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin:0;
    padding:0;
    font-family:"Poppins", sans-serif;
}

#active{
    color:white;
}

.effect:hover{
    transition:0.4s;
    letter-spacing:1px;
}

#mylogo{
    width:8%;
}

.col-md-3{
    border:1px solid black;
    border-radius:4px;
    font-family:"Poppins", sans-serif;
}
.main-header{
    color:#061a3b;
}
.main-header-2{
    color:#061a3b;
    margin-top:80px;
}
.website-image{
    margin-top:30px;
}
.description{
    font-size:24px;
    color:black;
    font-weight:400;
    margin-top:30px;
}
.yt-link{
    color:blue;
}
.desc-2{
    font-size:24px;
    color:black;
    font-weight:400;
}
.fa-star{
    color:gold;
    font-size:24px;
}
.link-span{
    font-size:24px;
    color:#FD6565;
    font-weight:400;
}
.yt-2{
    font-size:24px;
}
.fa-star-half-o{
    color:gold;
    font-size:24px;
}
/* feedback */
.feedback-row{
    border-radius:10px;
    margin-top:100px;
    margin-bottom:100px;
    box-shadow: 5px 10px 18px #888888;
}
.photo-feedback{
    background-color:#f2f2f2;
    height:500px;
    border-radius:10px 0px 0px 10px;
}
.feedback{
    padding-right:20px;
    padding-top:50px;
    padding-bottom:80px;
}
.feedback-form{
    background-color:#f2f2f2;
    border-radius:0 10px 10px 0px;
}
.feedback-header{
    font-weight:600;
    font-family:sans-serif;
    margin-top:20px;
    margin-bottom:20px;
    color:#061a3b;
    font-size:24px;
    margin-left:30px;
}
.form-control{
    border:1px solid #061a3b;
}
form{
    margin-left:30px;
    margin-right:30px;
    margin-top:30px;
}
.feedback-btn{
    background-color:#061a3b;
    color:white;
    margin-top:30px;
    padding-left:50px;
    padding-right:50px;
}
/* footer */
#footer
{
  background-image: linear-gradient(to left, #061a3b, #040913);
  color:#fff;
  margin-top:60px;
}

.footer-box
{
  padding-top:20px;
}

.footer-box .fa
{
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width:40px;
  text-align:center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #061a3b,#040913);
}

p b
{
  font-size:20px;
  font-weight: 600;
}

.btn-2
{
  background-image: linear-gradient(to right,#061a3b,#040913);
  border:none;
  box-shadow:none;
  margin-top:20px;
  margin-bottom: 20px;
}

.third-row-p
{
    color:white;
    margin-top: 40px;
}
.footer-links{
  color:white;
}

.footer-links:hover{
  color:#FD6565;
  text-decoration:none;
}

.logo-img{
    height:62px;
}
.social-links{
    color:white;
}
.download-btn{
    padding:20px 50px;
    margin-top:50px;
    background-color:#061a3b;
    color:white;
    margin-bottom:50px;
}
@media (max-width:500px){
    .main-header{
        font-size:28px;
    }
    .main-header-2{
        margin-top:40px;
    }
    .description{
        font-size:20px;
    }
    .desc-2{
        font-size:20px;
    }
    .link-span{
        font-size: 20px;;
    }
    .yt-2{
        font-size:20px;
    }
    .fa-star{
        font-size:20px;
    }
    .fa-star-half-o{
        font-size:20px;
    }
    .photo-feedback{
        display:none;
    }
    .feedback-btn{
        margin-bottom:20px;
    }
    .feedback-row{
        box-shadow: 0px 0px 0px #888888;
    }
    .feedback-form{
        border-radius: 10px;
    }
}

@media (min-width:600px) and (max-width:1000px){

}